.box {
  /* border: 1px solid black; */
  height: 92vh;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box3 {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

button a:link,
button a:visited {
  color: white;
  text-decoration: none;
}