.box {
  /* border: 1px solid black; */
  height: 92vh;
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box2 {
  border-bottom: none;
  display: flex;
  flex-direction: column;
}

.box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button a:link,
button a:visited {
  color: white;
  text-decoration: none;
}

a:link,
a:visited {
  color: dodgerblue;
  text-decoration: none;
}

.author_card_container {
  height: 92.5vh; 
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.8);
}

