{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />


    <link rel="stylesheet" href="{% static 'profile.css' %}" />
    <link rel="stylesheet" href="{% static 'user_info.css' %}" />


    <title>Profile</title>
  </head>
  <body>

    {% include "navigation.html" %}


    <div class='profile_screen'>
    <div class='userinfo_container'>
      <div class="card" id="cardPage">
      <div class="card_side card_side_front">
        <div class="card_picture card_picture-1"></div>
        <h4 class="card_heading">
          <span class="card_heading_span">My Profile</span>
        </h4>
        <div class="card_details">
          <ul>
            <li>Username: {{user.username}}</li>
            <li>Age: {{user.age}}</li>
            <li>Height: {{user.height}}</li>
            <li>Weight: {{user.weight}}</li>
            <li>Fitness Level: {{user.fitness_level}}</li>
            <li id='bmi_level'>BMI Level: </li>
          </ul>
        </div>
        <small class='flip_info'>Hover Over Card to Update Profile</small>

      </div>
      <div class="card_side card_side_back card_side_back-1">
        <div class="card_container">
          <a href="/update_user/" class="btn btn-white"> Update Profile </a>
        </div>
      </div>
    </div>

     <div class='card'>
        <div class='card_side card_picture-2'></div>
    </div>

    <div class='card' id='cardPage'>
      <div class='card_side card_side_front'>
        <div class='card_picture card_picture-3'></div>
        <h4 class='card_heading'>
          <span class='card_heading_span heading_span_goals'>
            My Goals
          </span>
        </h4>
        <div class='card_details'>
          <ul class='goalList'>
            <li>Goal 1: {{goals.goal_one}}</li>
            <li>Goal 2: {{goals.goal_two}}</li>
            <li>Goal 3: {{goals.goal_three}}</li>
            <li>Goal 4: {{goals.goal_four}}</li>
            <li>Goal 5: {{goals.goal_five}}</li>
          </ul>
        </div>
        <small class='flip_info'>Hover Over Card to Update Goals</small>
      </div>
      <div class='card_side card_side_back card_side_back-1'>
        <div class='card_container goals_buttons_container'>
          <a href='/update_goals/' class='btn btn-white'>
            Update Goals
          </a>
        </div>
      </div>
    </div><!--User Info Container-->
    <h2 class='scroll_header'>Scroll Down for More</h2>
    </div><!--Profile Screen-->


    <div class='bmi_level_container'>
       <h1 class='bmi_level_header'>
          Your Workout Plan According to Your BMI Level
        </h1>

        <div class='bmi_container'>
        <div class='boxes' id='box1'>
          <h2 class='bmiLevel_header'>Underweight</h2>
          <i class="fas fa-utensils bmiIcons"></i>
          <ul>
            <li>Eat 5 Meals a Day</li>
            <li>Lift 4x Times a Week</li>
            <li>50 Push-Ups Daily</li>
            <li>75 Squats Every Other Day</li>
            <li>Abs Exercises Every Other Day</li>
          </ul>
        </div>
        <div class='boxes' id='box2'>
          <h2 class='bmiLevel_header'>Healthy Weight</h2>
           <i class="fas fa-biking bmiIcons"></i>
          <ul>
            <li>Eat 3 Meals a Day</li>
            <li>Lift 3x Times a Week</li>
            <li>25 Push-Ups Daily</li>
            <li>Bike Every Other Day</li>
            <li>Abs Exercises Every Other Day</li>
          </ul>
        </div>
        <div class='boxes' id='box3'>
          <h2 class='bmiLevel_header'>Overweight</h2>
           <i class="fas fa-running bmiIcons"></i>
          <ul>
            <li>Eat 2 Big Meals a Day</li>
            <li>Lift 3x Times a Week</li>
            <li>Run 1/2 a Mile Every Morning</li>
            <li>Swim Every Other Day</li>
            <li>Abs Exercises Every Other Day</li>
          </ul>
        </div>
        <div class='boxes' id='box4'>
          <h2 class='bmiLevel_header'>Obese</h2>
           <i class="fas fa-swimmer bmiIcons"></i>
          <ul>
            <li>Eat 2 Meals a Day</li>
            <li>Lift 3x Times a Week</li>
            <li>Run 1 a Mile Every Morning</li>
            <li>Swim Every Day</li>
            <li>Abs Exercises Every Other Day</li>
          </ul>
        </div>
      </div>
    </div><!--BMI Level Container-->

    <div class='todos_container'>
        <div class='todos_header_container'>
        <h1 class='todos_header'>Todos List for the Week</h1>
        <div class='add_todo_container'>
          <button class='todo_button'>
            <a href='/add_todos/'>Add Todo</a>
          </button>
        </div>
      </div>

      {% for todo in todos %}
        <div class='todosList'>
          <p>{{todo.title}}</p>
          <div class='todosList_buttons'>
            <button class='todo_btn-1'>
              <a href='/update_todos/{{todo.id}}/'>Update Todo</a>
            </button>
            <button class='todo_btn-2'>
              <a href='/remove_todo/{{todo.id}}/'>Delete Todo</a>
            </button>
          </div>
        </div>
      {% endfor %}
    </div><!--Todos Container-->

    <div class='inspired_container'>

      <div>
      <h1 class='videos_header'>Beginner Workout Videos</h1>
      <div class='workout_videos'>
        <iframe
          width='375'
          height='300'
          src='https://www.youtube.com/embed/3p8EBPVZ2Iw'
          frameBorder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowFullScreen
          title='video1'
        ></iframe>
        <iframe
          width='350'
          height='300'
          src='https://www.youtube.com/embed/Oe5CDt3dp8Q'
          frameBorder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowFullScreen
          title='video2'
        ></iframe>
        <iframe
          width='350'
          height='300'
          src='https://www.youtube.com/embed/H9vwqwN69rU'
          frameBorder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowFullScreen
          title='video3'
        ></iframe>
      </div>
    </div>

    <div>
      <h1 class='videos_header'>Intermediate Workout Videos</h1>
      <div class='workout_videos'>
        <iframe
          width='350'
          height='300'
          src='https://www.youtube.com/embed/8J2pCRDTK9o'
          frameBorder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowFullScreen
          title='video1'
        ></iframe>
        <iframe
          width='350'
          height='300'
          src='https://www.youtube.com/embed/Rd3XHPk5me4'
          frameBorder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowFullScreen
          title='video2'
        ></iframe>
        <iframe
          width='350'
          height='300'
          src='https://www.youtube.com/embed/jwkEhVWZg-4'
          frameBorder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowFullScreen
          title='video3'
        ></iframe>
      </div>
    </div>

    <div>
      <h1 class='videos_header'>Advanced Workout Videos</h1>
      <div class='workout_videos'>
        <iframe
          width='350'
          height='300'
          src='https://www.youtube.com/embed/srj94JCeuWw'
          frameBorder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowFullScreen
          title='video1'
        ></iframe>
        <iframe
          width='350'
          height='300'
          src='https://www.youtube.com/embed/zXSo4EJG5FU'
          frameBorder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowFullScreen
          title='video2'
        ></iframe>
        <iframe
          width='350'
          height='300'
          src='https://www.youtube.com/embed/hXZ36ru17fc'
          frameBorder='0'
          allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
          allowFullScreen
          title='video3'
        ></iframe>
      </div>
    </div>

    <div class='invisible_border'></div>

    </div><!--Inspired Container-->


    <!-- Optional JavaScript; choose one of the two! -->
    <script>
      const height = {{user.height}}
      const weight = {{user.weight}}
      let bmi = Math.round((weight / Math.pow(height, 2)) * 703)
      
      const bmi_level = document.getElementById('bmi_level')
      bmi_level.innerHTML = `BMI Level: ${bmi}`

      if (bmi <= 18.5) {
        document.getElementById('box1').classList.add('select');
      } else if (bmi > 18.5 && bmi <= 25) {
        document.getElementById('box2').classList.add('select');
      } else if (bmi > 25 && bmi <= 30) {
        document.getElementById('box3').classList.add('select');
      } else if (bmi > 30) {
        document.getElementById('box4').classList.add('select');
      }
    </script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
