{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="{% static 'workout_detail.css' %}" />

    <title>Navigation</title>
  </head>
  <body>
    
  <div class="tables_container">
    <table class="table table-striped table-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Activity</th>
        <th scope="col">Description</th>
        <th scope="col">Ticket Status</th>
        <th scope="col">Date Field</th>
        <th scope="col">Delete Ticket</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{workout.title}}</td>
        <td>{{workout.description}}</td>
        <td>{{workout.workout_status}}</td>
        <td>{{workout.date_filed}}</td>
        <td>
          <button class='btn btn-danger'>
            <a href=''>Delete</a>
          </button>
        </td>
      </tr>
    </tbody>
    </table>
  </div>
    
  <div class="button_container">
    <button class="btn btn-info">
      <a href="/new_ticket/{{workout.id}}/">Change Ticket to New</a>
    </button>
    <button class="btn btn-secondary">
      <a href="/assigned_ticket/{{workout.id}}/">Change Ticket to Progress</a>
    </button>
    <button class="btn btn-success">
      <a href="/completed_ticket/{{workout.id}}/">Change Ticket to Done</a>
    </button>
    <button class="btn btn-danger">
      <a href="/invalid_ticket/{{workout.id}}/">Change Ticket to Invalid</a>
    </button>
    <button class="btn btn-primary">
      <a href="/tracker_dashboard/">Return to Dashboard</a>
    </button>
  </div>  

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>
